.icon-user {
    background-image: url("/lfims/extjs/resources/images/user.png") !important;
}
.icon-add {
    background-image: url("/lfims/extjs/resources/images/add.png") !important;
}
.icon-delete {
    background-image: url("/lfims/extjs/resources/images/delete.png") !important;
}
.x-ie6 .icon-user {
    background-image: url("/lfims/extjs/resources/images/user.gif") !important;
}
.x-ie6 .icon-add {
    background-image: url("/lfims/extjs/resources/images/add.gif") !important;
}
.x-ie6 .icon-delete {
    background-image: url("/lfims/extjs/resources/images/delete.gif") !important;
}

.icon-cursor { cursor: pointer; }
.example-info {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("info-bg.gif") repeat-x scroll 0 0 #ECF5FE;
    border-color: #DCEAFB #C3DAF9 #C3DAF9 #DCEAFB;
    border-right: 1px solid #C3DAF9;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    padding: 8px;
    width: 150px;
}

.msg .x-box-mc {
    font-size: 14px;
}
#msg-div {
    left: 35%;
    position: absolute;
    top: 10px;
    width: 300px;
    z-index: 20000;
}
#msg-div .msg {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    color: #555555;
    margin-top: 12px;
    padding: 10px 15px;
}
#msg-div .msg h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px;
}
#msg-div .msg p {
    margin: 0;
}
.x-grid3-row-body p {
    margin: 5px 5px 10px !important;
}
.feature-list {
    margin-bottom: 15px;
}
.feature-list li {
    list-style: disc outside none;
    margin-bottom: 4px;
    margin-left: 17px;
}
